<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHqNDWRmbuJ40kgz74668DxsYobjEJE6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>683627237836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tunahanoguz.datesync.couples</string>
	<key>PROJECT_ID</key>
	<string>datesync-e30b1</string>
	<key>STORAGE_BUCKET</key>
	<string>datesync-e30b1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683627237836:ios:52d59ac4225cfa627e8d69</string>
</dict>
</plist>